<% import grails.persistence.Event %>
<%=packageName%>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="list">
    <g:set var="entityName" value="\${message(code: '${domainClass.propertyName}.label', default: '${className}')}" scope="request" />
    <g:set var="entityNamePlural" value="\${message(code: '${domainClass.propertyName}.plural.label', default: '${className}s')}" scope="request" />
    <g:set var="domainName" value="${domainClass.fullName}" scope="request" />
    %{--<g:set var="filterProperties" value=""/>--}%
    <title><g:message code="default.list.label" args="[entityNamePlural]" /></title>
</head>

<body>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <%  excludedProps = Event.allEvents.toList() << 'id' << 'version'<< 'dateCreated' << 'lastUpdated'
            allowedNames = domainClass.persistentProperties*.name
            props = domainClass.properties.findAll { allowedNames.contains(it.name) && !excludedProps.contains(it.name) && it.type != null && !Collection.isAssignableFrom(it.type) }
            Collections.sort(props, comparator.constructors[0].newInstance([domainClass] as Object[]))
            props.eachWithIndex { p, i ->
                if (i < 6) {
                    if (p.isAssociation()) { %>
            <th><g:message code="${domainClass.propertyName}.${p.name}.label" default="${p.naturalName}" /></th>
            <%      } else { %>
            <g:sortableColumn property="${p.name}" title="\${message(code: '${domainClass.propertyName}.${p.name}.label', default: '${p.naturalName}')}" params="\${filterParams}" />
            <%  }   }   } %>
            <th class="acoes"><g:message code="sistema.acoes.label" /> </th>
        </tr>
        </thead>
        <tbody>
        <g:each in="\${${propertyName}List}" status="i" var="${propertyName}">
            <tr>
                <%  props.eachWithIndex { p, i ->
                    if (i == 0) { %>
                <td><g:link action="show" id="\${${propertyName}.id}">\${fieldValue(bean: ${propertyName}, field: "${p.name}")}</g:link></td>
                <%      } else if (i < 6) {
                    if (p.type == Boolean || p.type == boolean) { %>
                <td><g:formatBoolean boolean="\${${propertyName}.${p.name}}" /></td>
                <%          } else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type == Calendar) { %>
                <td><g:formatDate date="\${${propertyName}.${p.name}}" /></td>
                <%          } else { %>
                <td>\${fieldValue(bean: ${propertyName}, field: "${p.name}")}</td>
                <%  }   }   } %>
                <td class="acoes">
                    <will:editLink id="\${${propertyName}.id}" />
                    <will:deleteConfirmButton id="\${${propertyName}.id}" />
                </td>
            </tr>
        </g:each>
        </tbody>
    </table>
</div>

<div class="pagination">
    <g:paginate total="\${${propertyName}Count}" params="\${filterParams}"/>
</div>
</body>
</html>