<%@ page import="arquitetura.menu.Menu" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="edit">
		<g:set var="entityName" value="${message(code: 'menu.label', default: 'Menu')}" scope="request" />
		<g:set var="entityNamePlural" value="${message(code: 'menu.plural.label', default: 'Menu')}" scope="request" />
		<g:set var="instancia" value="${menuInstance}" scope="request" />
		<title><g:message code="default.edit.label" args="[entityName]"/></title>
	</head>

	<body>
		<g:hiddenField name="id" value="${menuInstance?.id}" />
		<g:hiddenField name="version" value="${menuInstance?.version}" />
		<g:render template="form"/>
	</body>
</html>