/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require mobile
*= require bootstrap
*= require bootstrap-submenu.min
*= require roboto.min
*= require material.min
*= require material-fullpallete.min
*= require ripples.min
*= require crossSelect
*= require datepicker
*= require fontawesome-iconpicker.min
*= require fp
*= require_self
*/

@media (min-width: 768px) {
    body {
        padding-top: 135px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 64px;
    }
}

/*@media (max-width: 900px) {*/
    /*body {*/
        /*padding-top: 0;*/
    /*}*/
    /*.navbar.navbar-fixed-top{*/
        /*display: none;*/
    /*}*/
/*}*/

.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

div.pagination {
    width: 100%;
    text-align: center;
}

/* Overlay para requisições ajax*/
#overlayLoading {
    display:none;
    position:absolute;
    background:#000;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#loading {
    display: none;
    background: #fff;
    margin: -15px 0 0 -100px;
    padding: 15px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    2px 2px 2px rgba(50, 50, 50, 0.7);
    box-shadow:         2px 2px 2px rgba(50, 50, 50, 0.7);
    z-index: 10000;
}

td.numero {
    text-align: center;
}

#loading img{
    vertical-align: middle;
}
/* Fim overlay para requisições ajax*/

.form-horizontal {
    padding-top: 20px;
}

/*.dropdown-submenu{position:relative;}*/
/*.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;z-index: 500}*/
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
/*.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}*/
/*.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}*/
/*.dropdown-submenu.pull-left{float:none;}*/
/*.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}*/

table.table-striped tr th {
    color: #009688;
}

td.acoes .btn, .btn.acoes {
    padding: 3px 6px;
    margin: 5px 1px;
}

.modal-body {
    padding: 5px;
}

.panel-title {
    color: #777;
}

.tab-pane {
    padding-top: 20px;
}

.required-indicator {
    color: #F00;
}

.form-inline .form-group {
    padding-top: 7px;
}

.navbar-toggle {
    color: #ddd;
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px 0;
}

.action-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
    z-index: 10000;
}

.rodape a {
    color: #9d9d9d;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.btn-file {
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.navbar .container-fluid.top-bar, .navbar .container-fluid.top-bar-min {
    height: 55px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px 0 20px;
    width: 100%;
    float: left;
}

@media (max-width: 768px) {
    .top-bar {
        display: none;
    }
}
@media (min-width: 768px) {
    .top-bar-min {
        display: none;
    }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 0 8px;
    vertical-align: inherit;
}

/*ul.nav.navbar-nav > li > a span {*/
    /*font-size: 28px;*/
    /*width: 28px;*/
    /*height: 28px;*/
    /*display: block;*/
    /*margin: 0 auto 2px;*/
/*}*/
/*.navbar-collapse {*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0;*/
/*}*/

@media print {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-3 {
        width: 25%;
    }

    .col-lg-1 {
        width: 15%;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

.grafico {
    width: 100%;
    height: 250px;
}

.grafico-grande {
    width: 100%;
    height: 350px;
}