/* ruler for measuring item width should be invisible */
.jqxs span
{
    visibility:hidden;
    position:absolute;
}

.jqxs ul,
.jqxs div
{
    float:left;
    margin:4px;
    padding:0;
}

/* ie6 fix for float margin bug */
* html .jqxs ul,
* html .jqxs div
{
    margin:4px 2px;
}

.jqxs ul
{
    border-top:1px solid #555;
    border-left:1px solid #555;
    border-bottom:1px solid #555;
    border-right:1px solid #555;
    border-radius: 4px;
    overflow: auto;
}

.jqxs ul,
.jqxs li
{
    padding:0;
    list-style:none;
    text-indent:0;
}

.jqxs li
{
    padding: 0 2px;
    color:black;
    margin:0;
    cursor: pointer;
    overflow:hidden;
}

.jqxs li span
{
    display:none;
}

.jqxs_optionsList li.jqxs_selected
{
    display:none;
}

.jqxs li.jqxs_focused
{
    color:white;
    background:navy;
}

.jqxs input
{
    width:90px;
    display:block;
}

/* not used in default style, but useful for applying custom button designs */
.jqxs input.jqxs_active
{

}